<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">  
</head>

<body>
  <main id="main-wrapper">
    <header id="main-header">
      <p><b>{{ .Site.Title }}</b> [ <a href="/">Home</a> ] -
        Menu: 
          {{ $currentNode := . }}
          {{ range .Site.Menus.main }}
            <a href="{{.URL}}">{{ .Name }}</a> /
          {{ end }}
          <a href="/tags/">Tags</a>
      </p>
      {{ partial "search-form.html" . }}
      <hr/>
    </header>
