<div>
  <form id="searchForm" action="/search.html" role="search" >
     <input id="page" name="p" value="1" type="hidden"/>
     <input id="query" name="q" class="search" type="text" size="15" placeholder="Search" >
     <button type="submit">Search</button>
     <div id="searchFacetsArea"></div>
  </form>
</div>

<script type="text/javascript">
   var searchURL = '{{ if  getenv "BLEVE_URL" }}{{getenv "BLEVE_URL"}}{{else}}{{ .Site.Params.searchUrl }}{{end}}/api/search.bleve/_search';
</script>
