{{ partial "header" . }}
<article id="main-content">
  <header>
    <h1>{{ .Title }}</h1>
    <div class="metas">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02/01/2006" }}</time>
      {{ if .IsPage }}
        {{ with .Params.author }}
          &middot; by {{ . }}
        {{ end }}
        &middot; Read in about {{ .ReadingTime }} min &middot; ({{ .WordCount }} Words)<br>
        {{ partial "tags" . }}
      {{ end }}
    </div>
  </header>
  <div>
    {{ .Content }}
  </div>
</article>
{{ partial "footer" . }}
